<div class="card">
    <div class="card-body">

        <h5 class="card-title">
            <%= post.title %>
                <span style="font-size: 1rem;" class="float-end">
                    <%= post.date %>
                </span>
        </h5>



        <p class="card-text">
            <%= post.post.substr(0, 110) +"..." %>
        </p>

        <form action=<%- `/blog/${post._id}` %> method="POST">
            <button class="btn btn-sm btn-primary">Read More</button>
        </form>
        
        <form action=<%- `/blog/delete/${post._id}` %> method="POST">
        <button class="delbtn float-end"> Delete </button>
        </form>
    </div>
</div>