<div class="card row" id="<%- `card${num}` %>">
    <div class="card-body col-12 ">

        <h5 class="card-title">
            <strong style="font-size: 1rem;"><u><%= post.title %></u></strong>
                <span style="font-size: 0.9rem;" class="float-end">
                    Posted by <strong><%= post.username%></strong> 
                </span>
        </h5>
        <span style="font-size: 0.9rem;" class="float-end my-0"><%= post.date %></span>


        <p class="card-text" style="width: 75%;">
            <%= post.post.substr(0, 90) +"..." %>
        </p>

        <form action=<%- `/blog/${post._id}` %> method="POST">
            <button class="btn btn-sm btn-primary">Read More</button>
        </form>
        
        <form class="delform"">
        <button class="delbtn float-end "> Delete </button>
        </form>
    </div>
</div>